.a{
    width: 1260;
    height: 575;
    background-color:rgb(159, 195, 221);
}
#a{
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
    position: absolute;
    left: 700;
    top: 50;
}
#b{
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
    position: absolute;
    left: 700;
    top: 70;
    color: rgb(9, 143, 197);   
}
#c{
    font-family: oblique;
    position: absolute;
    left: 700;
    top: 150;
    margin-top: -10;
}
#d{
    position: absolute;
    bottom: 100;
    left: 150;
}
#e{
    height: 30;
    width: 120;
    border: 1px solid rgb(26, 85, 156);
    color:rgb(26,85,156) ;
    padding-left: 45px;
    padding-top: 13;
    border-radius: 3px;
    position: absolute;
    left: 700;
    bottom: 250;
}
#f{
    height: 140;
    width: 965;
    background-color: rgb(15, 87, 169);
    position: absolute;
    top: 395;
    left: 140;
}
.g{
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    position: absolute;
    top: 15px;
    left: 30px;
    float: left;
}
#i{
    position: absolute;
    left: 130px;
    bottom: 80px;
    color: white;
}
#j{
    position: absolute;
    left: 130px;
    font-size: smaller;
    color: white;
    top: 40px;
}
.k{
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    position: absolute;
    top: 15px;
    left: 500px;
    float: left;
}
#l{
    position: absolute;
    left: 610px;
    bottom: 80px;
    color: white;
}
#m{
    position: absolute;
    left: 610px;
    font-size: smaller;
    color: white;
    top: 40px;
}
.b{
    height: 535px;
    width: 1260;
    background-color:white;
    border: 1px solid black;
}
#a1{
    position: absolute;
    left: 500px;
    color: rgb(131, 188, 229);
     font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';;
}
#a2{
    position: absolute;
    top: 638px;
    left: 355px;
}
#a3{
    position: absolute;
    top: 700px;
    left: 210;
}
#a4{
    position: absolute;
    left: 385px;
    top: 700;
}
#a5{
    position: absolute;
    left: 385px;
    top: 740;
    font-size: smaller;
}
#a6{
    position: absolute;
    left: 385px;
    top: 800;
    font-size: smaller;
}
#a7{
    position: absolute;
    top: 700px;
    left: 675px;
}
#a8{
    position: absolute;
    left: 855px;
    top: 700px;
}
#a9{
    position: absolute;
    left: 855px;
    top: 740px ;
    font-size: smaller;
}
#a10{
    position: absolute;
    left: 855px;
    top: 800;
    font-size: smaller;
}
#a11{
    position: absolute;
    top: 900px;
    left: 210;
}
#a12{
    position: absolute;
    left: 385px;
    top: 900;
}
#a13{
    position: absolute;
    left: 385px;
    top: 940;
    font-size: smaller;
}
#a14{
    position: absolute;
    left: 385px;
    top: 1000;
    font-size: smaller;
}
#a15{
    position: absolute;
    top: 900px;
    left: 675px;
}
#a16{
    position: absolute;
    left: 855px;
    top: 900px;
}
#a17{
    position: absolute;
    left: 855px;
    top: 940px ;
    font-size: smaller;
}
#a18{
    position: absolute;
    left: 855px;
    top: 1000;
    font-size: smaller;
}
.c{
    height: 1200;
    width: 1260;
    border: 1px black solid;
    margin-top: 20px;
    box-shadow: 4px 4px 4px 4px;
}
#b1{
    height: 350px;
    width: 1100;
    background-color: rgb(234, 228, 228);
    position: relative;
    top: 50px;
    left: 75px;
}
#b2{
    height: 700px;
    width: 1100;
    background-color: rgb(88, 145, 232);
    position: relative;
    left: 75px;
}
#b3{
    position: absolute;
    top: 1270px;
    left: 230px;
}
#b4{
    position: absolute;
    top: 1690;
    left: 530;
    color: white;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
}
#b5{
    position: absolute;
    top: 1780;
    left: 260;
    font-size: small;
    color: white;
}
#b6{
    position: absolute;
    top: 1780;
    left: 670;
    font-size: small;
    color: white;
}
#b7{
    height: 30;
    width: 120;
    border: 1px solid rgb(255, 255, 255);
    color:rgb(255, 255, 255) ;
    padding-left: 45px;
    padding-top: 13;
    border-radius: 3px;
    position: absolute;
    left: 670;
    top: 1860;
}
#b8{
    height: 235;
    width: 950;  
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 2100;
    left: 180px;
}#b9{
    position: relative;
    left: 125px;
    color: rgb(88, 145, 232);
    bottom: 5px;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
}
#b10{
    position: relative;
    left: 75px;
    bottom: 5px;
    color: rgb(88, 145, 232);
    bottom: 5px;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
}
#b11{
    position: relative;
    left: 27px;   
}
#b12{
    position: absolute;
    left: 445px;
    color: rgb(88, 145, 232);
    bottom: 155px;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
}
#b13{
    position:absolute;
    left: 420px;
    bottom: 5px;
    color: rgb(88, 145, 232);
    bottom: 125px;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
}
#b14{
    position: absolute;
    left: 340px; 
    bottom: 0px;
}
#b15{
    position: absolute;
    left: 755px;
    color: rgb(88, 145, 232);
    bottom: 155px;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
}
#b16{
    position:absolute;
    left: 730px;
    bottom: 5px;
    color: rgb(88, 145, 232);
    bottom: 125px;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
}
#b17{
    position: absolute;
    left: 650px; 
    bottom: 0px;
}
.d{
    height: 1000px;
    width: 1260px;
    border: 1px black solid;
    margin-top: 20px;
    box-shadow: 4px 4px 4px 4px;
}
#c1{
    position: absolute;
    left: 285px;
}
#c2{
    position: absolute;
    left: 595px;
}
#c3{
    position: absolute;
    left: 900px;
}
#c4{
    position: absolute;
    top: 2430px;
    left: 540px;
}
#c5{
    position: absolute;
    top: 2530px;
    left: 130px;
}
#c6{
    position: absolute;
    top: 2590px;
    left: 130px;
}
#c7{
    position: absolute;
    top: 2750px;
    left: 130px;
}
#c8{
    height: 460px;
    width: 1150;
    position: absolute;
    top: 2880px;
    left: 60px;
    background-color: rgb(193, 226, 239);
}#c9{
    position: relative;
    top: 30px;
    color: rgb(88, 145, 232);
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
}#c10{
    position: relative;
    top: 60px;
    left: 100px;
}
#c11{
    position: absolute;
    top: 130px;
    left: 450px;
}
#c12{
    position: absolute;
    top: 130px;
    left: 800px;
}
#c13{
    height: 30;
    width: 120;
    border: 1px solid rgb(26, 85, 156);
    color:rgb(26,85,156) ;
    padding-left: 45px;
    padding-top: 13;
    border-radius: 3px;
    position: absolute;
    left: 470;
    top: 360px;
}
.e{
    height: 1000;
    width: 1260;
    border: 1px black solid;
    margin-top: 20px;
    box-shadow: 4px 4px 4px 4px;
}
#d1{
    position: relative;
    color: rgb(26,85,156);
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
}
#d2{
    height: 100px;
    width: 1150;
    background-color:rgb(65, 120, 188) ;
    position: relative;
    top: 160px;
    left: 50px;
}
#d3{
    height: 300px;
    width: 250px;
    background-color: rgb(233, 237, 241);
    position: relative;
    left: 150px;
    bottom: 80px;
}
#d6{
    position: relative;
    top: 25px;
    left: 70px;
    border-radius: 50px;
}
#d7{
    position: relative;
    top: 25px;
    left: 65px;
}
#d8{
    position: relative;
    top: 20px;
    left: 25px;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
}
#d9{
    position: relative;
    top: 25px;
    left: 20px;
    font-size: small;
}
#d4{
    height: 300px;
    width: 250px;
    background-color: rgb(233, 237, 241);
    position: relative;
    left: 500px;
    bottom: 375px;
}
#d10{
    position: relative;
    top: 25px;
    left: 70px;
    border-radius: 50px;
}
#d11{
    position: relative;
    top: 25px;
    left: 65px;
}
#d12{
    position: relative;
    top: 20px;
    left: 32px;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
}
#d13{
    position: relative;
    top: 25px;
    left: 20px;
    font-size: small;
}
#d5{
    height: 300px;
    width: 250px;
    background-color: rgb(233, 237, 241);
    position: relative;
    left: 850px;
    bottom: 675px;
}
#d14{
    position: relative;
    top: 25px;
    left: 70px;
    border-radius: 50px;
}
#d15{
    position: relative;
    top: 25px;
    left: 65px;
}
#d16{
    position: relative;
    top: 20px;
    left: 32px;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
}
#d17{
    position: relative;
    top: 25px;
    left: 20px;
    font-size: small;
}
#d18{
    position: absolute;
    top: 3800px;
    font-size: small;
    left: 600;
}#d19{
    height: 525px;
    width: 1150px;
    position: absolute;
    top: 3850px;
    background-color: rgb(169, 211, 224);
    left: 63px;
}
#d20{
    color: rgb(88, 145, 232);
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
}
#d21{
    width: 500;
    height: 200;
    background-color: white;
    position: relative;
    left: 75px;
}
#d22{
    border-radius: 50px;
    position: relative;
    top: 15px;
    left: 15px;
}
#d23{
    position: relative;
    left: 80px;
    bottom: 40px;
}
#d24{
    position: relative;
    left: 80px;
    bottom: 30px;
}
#d25{
    position: relative;
    left: 80px;
    bottom: 40px;
    color: silver;
    font-size: small;
}
#d30{
    width: 500;
    height: 200;
    background-color: white;
    position: relative;
    left:75px;
    top: 5px;
}
#d26{
    border-radius: 50px;
    position: relative;
    top: 15px;
    left: 15px;
}
#d27{
    position: relative;
    left: 80px;
    bottom: 40px;
}
#d28{
    position: relative;
    left: 80px;
    bottom: 30px;
}
#d29{
    position: relative;
    left: 80px;
    bottom: 40px;
    color: silver;
    font-size: small;
}
#d31{
    width: 500;
    height: 200;
    background-color: white;
    position: relative;
    left: 580px;
    bottom: 400px;
}
#d32{
    border-radius: 50px;
    position: relative;
    top: 15px;
    left: 15px;
}
#d33{
    position: relative;
    left: 80px;
    bottom: 40px;
}
#d34{
    position: relative;
    left: 80px;
    bottom: 30px;
}
#d35{
    position: relative;
    left: 80px;
    bottom: 40px;
    color: silver;
    font-size: small;
}
#d36{
    width: 500;
    height: 200;
    background-color: white;
    position: relative;
    left: 580px;
    bottom: 395px;
}
#d37{
    border-radius: 50px;
    position: relative;
    top: 15px;
    left: 15px;
}
#d38{
    position: relative;
    left: 80px;
    bottom: 40px;
}
#d39{
    position: relative;
    left: 80px;
    bottom: 30px;
}
#d40{
    position: relative;
    left: 80px;
    bottom: 40px;
    color: silver;
    font-size: small;
}
.f{
    height: 900px;
    width: 1260px;
    border: 1px black solid;
    margin-top: 20px;
    box-shadow: 4px 4px 4px 4px;
}
#e1{
    position: relative;
    top: 10px;
    left: 55px;
}
#e2{
    height: 300px;
    width: 1150;
    background-color: rgb(233, 237, 241) ;
    position: relative;
    top: 50px;
    left: 55px;
}
#e3{
    height: 130px;
    width: 1150;
    background-color: rgb(22, 23, 23) ;
    position: relative;
    top: 30px;
    left: 55px;
}
#e4{
    color: white;
    font-size: small;
    padding-top: 20px;
}
#e6{
    color: rgb(61, 133, 192);
    font-size: small;
    position: relative;
    top: 40px;
}
#e7{
    color: rgb(61, 133, 192);
    font-size: small;
    position: relative;
    top: 40px;
}
#e8{
    color: white;
    font-size: small;
    position: relative;
    top: 40px;
}
#e9{
    height: 400px;
    width: 800px;
    background-color: white;
    position: relative;
    bottom: 540px;
    left: 250px;
    box-shadow: rgb(228, 226, 226) 4px 4px 4px 4px;
}
#e10{
    color: rgb(88, 145, 232);
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
    font-size: 40px;
    position: relative;
    top: 20px;
}
#e11{
    color: rgb(0, 0, 0);
    font-size: small;
    padding-top: 10px;
}
#e12{
    height: 30px;
    width: 200px;
    background-color: rgb(215, 209, 209) ;
    position: relative;
    bottom: 780px;
    left: 300px;
}
#e13{
    height: 30px;
    width: 200px;
    background-color: rgb(215, 209, 209) ;
    position: relative;
    bottom: 823px;
    left: 550px;
}
#e14{
    height: 30px;
    width: 200px;
    background-color: rgb(215, 209, 209) ;
    position: relative;
    bottom: 866px;
    left: 800px;
}
#e17{
    color: rgb(112, 108, 108);
    font-size: small;
    padding-top: 7px;
    padding-left: 7px;
}
#e18{
    color: rgb(112, 108, 108);
    font-size: small;
    padding-top: 7px;
    padding-left: 7px;
}
#e19{
    color: rgb(112, 108, 108) ;
    font-size: small;
    padding-top: 7px;
    padding-left: 7px;
}
#e15{
    height: 100px;
    width: 700px;
    background-color: rgb(215, 209, 209)  ;
    position: relative;
    left: 300px;
    bottom: 870px;
}
#e20{
    color: rgb(112, 108, 108) ;
    font-size: medium;
     padding-top: 7px;
    padding-left: 7px;
}
#e16{
    height: 35px;
    width: 700px;
    background-color: rgb(88, 145, 232) ;
    position: relative;
    bottom: 877px;
    left: 300px;
}
#e21{
    color: white;
    padding-top: 4px;
    font-family:system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans'; 
}
