.a{
    height: 650px;
    width: 900px;
    border: 1px black solid;
    margin-left: 300px;
    margin-top: 50px;
    background-color: rgba(237,237,237,255);
}
.b{
    border: 1px black solid;
    height: 100px;
    width: 900px;
}
#a1{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 30%;
}
.n{
    border: 1px black solid;
}